@media (prefers-color-scheme: dark) {
  body {
  background-color: #0a0a0a;
  }
  .full-logo {
  background-image: url("GOOGLE_LOGO_WHITE.png");
  }

  .header-button {
  color: #b4c9fa;
  }
  button a {
  text-decoration: none;
  color: #b4c9fa;
  }
  .header-button-switch {
    background-color: #181E2C;
  }
  .search-container {
    background-color: rgb(18, 18, 18,0.5) !important;
    box-shadow: 0 0 25pt #212121;
  }
    .gsc-input {
  color: white !important;
}
.gssb_c tbody tr td {
.gssb_c tbody tr td {
  background-color: #1a1a1a;
}
.gsc-completion-container {
  background-color: #1a1a1a;
  color: white;
}
  .gsc-completion-container tbody {
  background-color: #1a1a1a;
  color: white;
}
.gsc-completion-container tbody tr td {
  background-color: #1a1a1a;
  color: white;
}
.gsc-completion-container tbody tr td {
  border: none !important;
  background-color: #1a1a1a;
}
.gsc-completion-container {
  border: none !important;
  background-color: #1a1a1a !important;
}
.gst1_50 {
  background-color: #1a1a1a;
}
.gsc-tabsArea {
  background-color: black;
  border: solid #212121 !important;
}
.gsc-inline-block {
  background-color: black !important;
}

html:not([data-scroll='0']) .all-headers-background {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(25px) !important;
}
nav {
  background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.85), rgba(0,0,0, 0.8),rgba(0,0,0, 0.6),rgba(0,0,0, 0.4));
  backdrop-filter: blur(25px);
}
  #ClosePagesOne i {
  color: white;
}
#ClosePagesTwo i {
  color: white;
}
nav button span {
  color: white;
}
  .nav-buttons button:hover span {
    color: #0044ff;
  }
nav button section:hover {
  background-color: transparent ;
}
nav button section i {
  color: white;
}
nav button:hover section i {
  color: #0044ff;
}
#BookmarksPage, #aboutPage{
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(25px) !important;
  box-shadow: 0 0 40pt #404040;
}
.bookmarks-page-title {
  color: white;
}
#addBookmarkBtn {
  background-color: #0f0f0f;
  box-shadow: 0 0 10pt #262626;
  color: white;
}
li {
  background-color: #121212;
  color: white;
}
#bookmarkForm {
  background-color: #1c1c1c !important;
}
#bookmarkUrl, #saveBookmarkBtn, .deleteBookmarkBtn {
  background-color: #000000;
  color: white;
}
}

@media (prefers-color-scheme: light) {
  body {
  background-color: #F2F1F7;
  }
  .full-logo {
  background-image: url("googlelogo_color.png");
  }
  .header-button {
  color: #000221;
  }
   button a {
  text-decoration: none;
  color: #000221;
  }
#ClosePagesOne i {
  color: black;
}
#ClosePagesTwo i {
  color: black;
}
  .search-container {
    background-color: rgb(235, 235, 235,0.5) !important;
    box-shadow: 0 0 25pt #b8b8b8;
  }
    .gsc-input {
  color: black !important;
}
.gssb_c tbody tr td {
  background-color: white;
}
.gsc-completion-container {
  background-color: white;
  color: black;
}
  .gsc-completion-container tbody {
  background-color: white;
  color: black;
}
.gsc-completion-container tbody tr td {
  background-color: white;
  color: black;
}
.gsc-completion-container tbody tr td {
  border: none !important;
  background-color: white;
}
.gsc-completion-container {
  border: none !important;
  background-color: white;
}
.gst1_50 {
  background-color: white;
}
.gsc-tabsArea {
  background-color: white;
  border: solid #c8cde6 !important;
}
.gsc-inline-block {
  background-color: white !important;
}

html:not([data-scroll='0']) .all-headers-background {
  background-color: rgb(255, 255, 255, 0.6);
  backdrop-filter: blur(25px) !important;
}
  nav {
  background-image: linear-gradient(to top, rgba(255,255,255,0.9), rgba(255,255,255,0.85), rgba(255,255,255, 0.8),rgba(255,255,255, 0.6),rgba(255,255,255, 0.4));
  backdrop-filter: blur(25px);
}
nav button span {
  color: black;
}
nav button section:hover {
  background-color: transparent;
}
.nav-buttons button:hover span {
    color: #0044ff;
  }
.nav-buttons button:hover section i {
  color: #0044ff;
  }
nav button section i {
  color: black;
}
#BookmarksPage, #aboutPage {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px) !important;
  box-shadow: 0 0 40pt #adadad;
}
.bookmarks-page-title {
  color: #000221;
}
#addBookmarkBtn {
  background-color: #f5f5f5;
  box-shadow: 0 0 10pt #d1d1d1;
  color: #000221;
}
  li {
    background-color: #f0f0f0;
}
#bookmarkForm {
  background-color: #f0f0f0;
}
#bookmarkUrl, #saveBookmarkBtn, .deleteBookmarkBtn {
  background-color: #ffffff;
  color: #000221;
}
 .gs-bidi-start-align {
   color: black !important;
 }
}




body {
  font-family: Product Sans;
}

@font-face {
    font-family: Product Sans Bold;
    src: url(Product Sans Bold.ttf);
}
@font-face {
    font-family: Product Sans;
    src: url(Product Sans Regular.ttf);
}
#gradientbg {
  width: 150vw;
  height: 50vh;
  background: linear-gradient(to right, #537CDA, #BA6975);
  position: fixed;
  bottom: -20vh;
  left: -25vw;
  filter: blur(20vw) opacity(0.65);
  z-index: 2;
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20pt);
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10pt;
  z-index: 74;
}
.header-right {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  top: 7pt;
  right: 5pt;
  z-index: 75;
  
}
.header-button {
  background-color: transparent;
  border: none;
  aspect-ratio: 1/1;
}
.header-button-switch {
  border: none;
  aspect-ratio: 20/9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 20pt;
  border-radius: 15pt;
  padding: 3pt;
  margin-top: 2.5pt;
}
.header-button-switch-btn {
  background-color: transparent;
  border: none;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.header-button-switch-img {
  width: 15pt;
}
.header-button img {
  width: 25pt;
}
.main-logo-full {
  width: 100%;
  display: flex;
  margin-top: 12vh;
  justify-content: center;
}
.full-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 140pt;
  width: 150pt;
  height: 75pt;
  background-color: transparent;
  border: none;
  transition: height 1s, width 1s, top 1s, background-size 0.75s;
}
.main-search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15pt;
  margin-bottom: 3pt;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 80%;
  height: 18pt;
  border-radius: 16pt;
  padding: 10pt;
  transition: height 1s, top 1s;
}


.search-right {
  display: flex;
  justify-content: space-between;
  width: 50pt;
  background-color: transparent;
  margin-top: 3.5pt;
  margin-right: 3pt;
  margin-left: 7pt;
}
.search-right a i {
  font-size: 15pt;
  color: #0044ff;
}
.gsc-search-box {
  width: calc(78vw - 50pt) !important;
  background-color: transparent !important;
  margin-top: 2.5pt !important;
}
.gcse-searchbox {
  background-color: transparent;
}
.gsc-search-button {
  display: none !important;
}
.gsc-search-button-v2 path {
  display: none !important;
  }
.gsc-search-button-v2 svg {
  display: none !important;
}
.gsc-search-button button {
  display: none !important;
}
.gsc-input div {
  background-color: transparent;
  border-radius: 15pt;
  border: none !important;
  width: 100%;
}
.gsc-input-box table {
  background-color: transparent;
  border-radius: 10pt;
  
}
.gsc-input {
  font-family: Product Sans;
  
}
.gsib_b {
  background-color: transparent;
}
.gsc-input {
  background-color: transparent;
}

.SearchPage-results {
  width: 100%;
}



.gsc-completion-container tbody tr td {
  border: none !important;
}
.gsc-completion-container {
  border: none !important;
}

.gsc-control-cse-ar div {
  background-color: transparent !important;
  font-family: Product Sans;
}
.gsc-control-cse-ar {
  background-color: transparent !important;
  border: none !important;
}
#cse {
  background-color: transparent !important;
  border: none !important;
  width: 100% !important;
}
.gsc-control-wrapper-cse div {
  background-color: transparent !important;
}
#cse div {
  background-color: transparent !important;
}
.gsc-results-wrapper-nooverlay {
  background-color: transparent !important;
}
.gsc-results-wrapper-nooverlay div {
  border: none !important;
  border-radius: 10pt !important;
  
}
.main-search-results div {
  background-color: transparent !important;
  border: none !important;
}
.gsc-control-wrapper-cse {
  background-color: transparent !important;
}
.gsc-results-wrapper-visible {
  background-color: transparent !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}
.gsc-positioningWrapper {
  width: 220pt !important;
  margin-left: calc(50% - 110pt) !important;
  margin-right: calc(50% - 110pt) !important;
}
.gcse-searchresults {
  width: 100%;
  margin-bottom: 100pt !important;
}
.main-search-results {
  width: 100%;
  margin-bottom: 100pt !important;
}






html:not([data-scroll='0']) .full-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75pt;
  width: 80pt;
  height: 40pt;
  background-color: transparent;
  border: none;
  position: fixed;
  top: 7pt;
  z-index: 71;
  
}
html:not([data-scroll='0']) .all-headers-background {
  width: 100%;
  height: 50pt;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 69;
  backdrop-filter: blur(5px);
  
}
headers-background {
  width: 100%;
  height: 100pt;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 69;
  background-color: transparent;
  transition: background-color 1s, backdrop-filter 1s;
}

nav {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 110pt;
}
.nav-buttons {
  width: calc(100% - 15pt);
  height: 19pt;
  z-index: 81;
  padding-top: 15pt;
  padding-bottom: 15pt;
  padding-left: 7.5pt;
  padding-right: 7.5pt;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
nav button {
  width: 44pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 32pt;
  background: transparent;
  border: none;
}
nav button span {
  font-size: 9pt;
  font-family: Product Sans;
  margin-top: 1pt;
}
nav button section {
  width: 40pt;
  height: 18pt !important;
  background-color: transparent;
  border-radius: 9pt;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 2pt !important;
}
nav button section i {
  font-size: 16pt !important;
}
nav button section i:hover {
  font-size: 15pt !important;
}
nav button section img {
  width: 15pt;
}

#BookmarksPage, #aboutPage {
  width: 100%;
  height: 75vh;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 91;
  border-radius: 15pt 15pt 0 0;
  animation-name: FadeInSaved;
  animation-duration: 0.3s;
}
#aboutPage p {
  text-align: center;
  margin-top: 45%;
  color: red;
}
#GeminiPage, #translatePage {
  display: none;
  animation-name: FadeInGemini;
  animation-duration: 0.3s;
}
iframe {
  width: 100%;
  height: calc(100% - 49pt);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  border: none !important;
}
.bookmarks-page-title {
  font-family: Product Sans Bold;
  font-size: 20pt;
  margin-left: 20pt;
  margin-bottom: -35pt !important;
}
#addBookmarkBtn {
  position: fixed;
  bottom: 10pt;
  right: 10pt;
  border: none;
  padding: 10pt;
  font-size: 15pt;
  width: 40pt !important;
  height: 40pt !important;
  border-radius: 15pt;
} 
ul {
    list-style-type: none;
    padding: 0;
  margin-top: 50pt;
}
li {
    padding: 10pt;
    margin: 10pt 20pt 10pt 20pt;
    border: none;
    border-radius: 10pt;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 60pt);
    align-items: center;
}
#bookmarkForm {
  margin-top: 50pt;
  width: calc(100% - 60pt);
  padding: 10pt;
  margin-left: 20pt;
  border-radius: 10pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: -40pt;
}
#bookmarkUrl {
    width: calc(100% - 95pt);
    padding: 10pt;
    margin: 5pt;
    border: none;
    border-radius: 5pt;
}
#saveBookmarkBtn {
    width: 50pt;
    padding: 10pt;
    margin-right: 5pt;
    border: none;
    border-radius: 5pt;
}
.deleteBookmarkBtn {
  border: none;
  border-radius: 5pt;
  padding: 7pt;
  font-family: Product Sans;
}
#ClosePagesOne, #ClosePagesTwo {
  float: right;
  margin-top: 10pt;
  margin-right: 20pt;
  border: none;
  background-color: transparent;
  height: 25pt;
}
#ClosePagesOne i {
  font-size: 20pt;
  margin-top: 2pt;
}
#ClosePagesTwo i {
  font-size: 20pt;
  margin-top: 2pt;
}
.gssb_c {
  position: absolute;
  bottom: 100pt !important;
  top: auto !important;
}
.gssb_c tbody tr td {
  border-radius: 15pt;
}
table {
  border-radius: 15pt;
}
@keyframes FadeInGemini {
  0% {
    filter: opacity(0) blur(5px);
    transform: scale(0.1) translate(10%, 100%);
    position: fixed;
    bottom: -100;
  }
    100% {
    filter: opacity(1) blur(0);
    transform: scale(1) translate(0%, 0%);
  }
}

@keyframes FadeInSaved {
  0% {
    filter: opacity(0) blur(5px);
    transform: scale(0) translate(10%, 100%);
    position: fixed;
    bottom: -100;
  }
  100% {
    filter: opacity(1) blur(0);
    transform: scale(1) translate(0%, 0%);
  }
  
  }
